body {
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 30px;
  background-color: #ddd;
}
button {
  font-family: "Comic Sans MS";
}
input {
  font-family: sans-serif;
  font-size: 22px;
}
.searchResultsData {
  font-size: 20px;
}
